.container
 .row.align-items-center.mt-5
  .col-12.col-lg-6
   .about-head 
    h6 About Us
    h2.text-signature Welcome to<br/>Vanh Non La
   .mb-5 
    p With over 340 hotels worldwide, NH Hotel Group offers a wide variety of hotels catering for a perfect stay no matter where your destination.
    strong.text-signature Writer:
    | &nbsp;Kimmy
  .col-12.col-lg-6
   .g-0.row
    .col-6
     img.img-thumbnail(src="/assets/img/gallery/gallery-10.jpg", alt="...")
     img.img-thumbnail(src="/assets/img/gallery/gallery-12.jpg", alt="...")
    .col-6
     img.img-thumbnail(src="/assets/img/gallery/gallery-15.jpg", alt="...")
     img.img-thumbnail(src="/assets/img/gallery/gallery-16.jpg", alt="...")

    