.container
 .mt-5.mb-3.text-center 
  h5.text-muted DANH MỤC 
  strong 
   h2.text-secondary Chọn Danh Mục Mà Bạn Quan Tâm
 .row.align-items-center.card-group
  .col-lg-3.col-sm-6.mb-5
   .card.mx-auto
      .card-body.text-center
         img.img-fluid(src="/assets/img/categories/pexels-jane-doan-936611.jpg", alt="x")
         .bg-signature.rounded.py-2
            a.h5.card-title(href='/posts?category=foods') Ẩm Thực
               i.bi.bi-chevron-double-right
  .col-lg-3.col-sm-6.mb-5
   .card.mx-auto
    .card-body.text-center
         img.img-fluid(src="/assets/img/categories/pexels-indra-purniawan-2191851.jpg", alt="x")
         .bg-signature.rounded.py-2
            a.h5.card-title(href='/posts?category=discover') Khám Phá
               i.bi.bi-chevron-double-right
  .col-lg-3.col-sm-6.mb-5
   .card.mx-auto
    .card-body.text-center
         img.img-fluid(src="/assets/img/categories/pexels-steve-johnson-963056.jpg", alt="x")
         .bg-signature.rounded.py-2
            a.h5.card-title(href='/posts?category=tips') Mẹo Hay
               i.bi.bi-chevron-double-right
  .col-lg-3.col-sm-6.mb-5
   .card.mx-auto
    .card-body.text-center
         img.img-fluid(src="/assets/img/categories/pexels-quang-nguyen-vinh-2144922.jpg", alt="x")
         .bg-signature.rounded.py-2
            a.h5.card-title(href='/posts?category=checkin') Check-In
               i.bi.bi-chevron-double-right

 