
footer.footer
  .container
    .d-flex.flex-wrap.justify-content-between.align-items-center.py-3.my-4.border-top
      .col-md-4.d-flex.align-items-center
        .mb-4.me-2.mb-md-0.text-muted.text-decoration-none.lh-1
          svg.bi(width='30' height='24')
            use(href='#bootstrap')
          span.text-muted &copy; #{new Date().getFullYear()} VanhNonLa

      ul.nav.col-md-4.justify-content-end.list-unstyled.d-flex.align-items-center
        li.ms-3
          a.text-muted(href='//twitter.com').bi.bi-twitter-x.h5
        li.ms-3
          a.text-muted(href='//instagram.com').bi.bi-instagram.h5
        li.ms-3
          a.text-muted(href='//facebook.com').bi.bi-facebook.h5